.downloadCVButton {
    padding: 0.5rem 1rem;
    background-color: var(--buttonbackground);
    color: var(--textcolor);
    border-radius: 0.375rem;
}

.downloadCVButton:hover {
    background-color: var(--buttonhoverbackground)
}
