/* Home Page Styles */

.profileImageContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.profileImageWrapper {
  position: relative;
  width: 16rem;
  height: 16rem;
  border: 4px solid var(--buttonhoverbackground);
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profileImageGlow {
  position: absolute;
  inset: 0;
  background-color: var(--buttonhoverbackground);
  opacity: 0.2;
  filter: blur(40px);
  border-radius: 0.5rem;
}

.profileImage {
  object-fit: cover;
  border-radius: 0.5rem;
  
}

.profileInfoContainer{
  flex-grow: 2;
}

.profileName {
  font-size: 3rem;
  font-weight: 800;
  color: var(--textcolor);
}

.certifiedText {
  font-size: 1.25rem;
  color: #93C5FD;
  margin-top: 0.5rem;
}

.jobTitle {
  font-size: 1.125rem;
  color: #D1D5DB;
}

/* Responsive Design */
@media (max-width: 1024px) {
  /* Tablet or smaller screens */
  
  .profileImageWrapper {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 768px) {
  /* Mobile screens */

  .profileInfoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
    
  .profileName {
    font-size: 2rem;
  }

  .profileImageWrapper {
    width: 10rem;
    height: 10rem;
  }

}

@media (max-width: 480px) {
  /* Very small screens like portrait phones */
  .profileImageWrapper {
    margin-top: 20px;
  }

  .profileName {
    font-size: 1.5rem;
  }

  .certifiedText, .jobTitle {
    font-size: 0.875rem;
  }
}
  