.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.projectName {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--titlecolor);
  text-shadow: var(--titleshadow);
  text-transform: capitalize;
}
