.sidebar {
    height: calc(100vh - 60px);
    top: 60px;
    width: 150px;
    background-color: var(--navbackground);
    color: var(--textcolor);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    overflow: hidden;
    position: sticky;
    z-index: 1;
  }

  @media (max-width: 1024px) {
    /* Tablet or smaller screens */
    .sidebar {
      min-height: auto;
      padding: 1rem;
    }
  }

  @media (max-width: 768px) {
    .sidebar {
        display: none;
        position: absolute;
    }
    
  }