.companyContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detailsContent {
    border: 2px solid var(--buttonbackground);
    color: var(--textcolor);
    padding: 10px; 
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.projectList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.projectLink{
    background-color: var(--buttonbackground);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}
.projectLink:hover{
    background-color: var(--buttonhoverbackground);
}
